#Webtitle {
    font-size: 50px;
    color: blueviolet;
}
.inform {
    color: brown;
}
#first {
    display: inline-block;
    border: 20px blue solid;
    padding: 10px;
}
span {
    font-size: 20px;
}
.container {
    display: inline-block;
    width: auto;
    border: 20px black solid;
    padding: auto;
}