.Webtitle {
    font-size: 50px;
    color: blueviolet;
}
#inform {
    color: brown;
    font-size: 15px;
}
#name {
    font-size: 30px;
}
#first {
    display: inline-block;
    border: 20px blue solid;
    padding: 10px;
}
span {
    font-size: 18px;
}
.container {
    background-color: aqua;
    display: inline-block;
    width: auto;
    border: 20px black solid;
    padding: auto;
}
#owl {
    width: 200px;
    height: 200px;
    margin: 10px 100px;
}
#git {
    font-size: 20px;
}